.ballots-list .r-party-list-item{
	background: rgba(155, 27, 48, 0.12);
}
.ballots-list .d-party-list-item{
	background: rgba(26, 58, 92, 0.12);
}

.navbar-bottom-margin { 
	max-height: 100px;
}

.drawer.application-height {
	max-height: calc(100vh - 100px);
	overflow: scroll;
}

.drawer.application-height-full {
	max-height: 100vh;
	overflow: scroll;
}