.ballots-list .r-party-list-item{
	background: rgba(255, 0, 0, .15);
}
.ballots-list .d-party-list-item{
	background: rgba(0, 0, 255, .15);
}

.navbar-bottom-margin { 
	max-height: calc(100vh - 100px);
}